.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(".cold-weather.jpg");
}

.app.warm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(".warm-weather-new.jpg");
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 500px;
  border: solid black 1px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
  justify-content: center;
  border: solid black 1px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#instruction {
  margin-bottom: 10px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time {
  margin-top: 0px;
}

.info {
  height: 75%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperature {
  font-weight: bold;
  font-size: 100px;
  margin: 5px 0px 5px 0px;
}